<form [formGroup]="form" autocomplete="off" focusInvalidInput #formElement (ngSubmit)="save()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Adicionar participante</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 form-group">
        <div class="form-label-group">
          <input
            id="alias"
            name="alias"
            type="text"
            [placeholder]="'private.participants.add.alias' | translate"
            class="form-control border-bottom"
            formControlName="alias"
          />
          <label for="text" translate>private.participants.add.alias</label>
        </div>
        <input-validations
          *ngIf="form.controls['alias'].invalid && form.controls['alias'].touched"
          [errors]="form.controls['alias'].errors"
          [label]="'private.participants.add.alias' | translate"
        >
        </input-validations>
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <div class="form-label-group">
          <input
            id="email"
            name="email"
            type="email"
            placeholder="{{ 'private.participants.add.email' | translate }}"
            class="form-control border-bottom"
            formControlName="email"
          />
          <label for="email" translate>private.participants.add.email</label>
        </div>
        <input-validations
          *ngIf="form.controls['email'].invalid && form.controls['email'].touched"
          [errors]="form.controls['email'].errors"
          label="E-mail"
        >
        </input-validations>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 form-group">
      <label for="profession">Profissão</label>
      <div class="form-label-group">
        <select
          id="profession"
          name="profession"
          class="form-control border-bottom"
          [formControl]="form.get('user.profession')"
        >
          <option value="" disabled>Selecione uma profissão</option>
          <option value="Enfermeiro">Enfermeiro</option>
          <option value="Médico">Médico</option>
          <option value="Cirurgião Dentista">Cirurgião Dentista</option>
          <option value="Fisioterapeuta">Fisioterapeuta</option>
          <option value="Assistente Social">Assistente Social</option>
          <option value="Nutricionista">Nutricionista</option>
          <option value="Psicólogo">Psicólogo</option>
          <option value="Técnico de Enfermagem">Técnico de Enfermagem</option>
          <option value="Auxiliar de Saúde Bucal">Auxiliar de Saúde Bucal</option>
          <option value="Agente Comunitário de Saúde">Agente Comunitário de Saúde</option>
          <option value="Estudante">Estudante</option>
          <option value="Outro">Outro</option>
        </select>
      </div>
      <input-validations
        *ngIf="form.get('user.profession').invalid && form.get('user.profession').touched"
        [errors]="form.get('user.profession').errors"
        label="Profissão"
      >
      </input-validations>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row justify-content-end">
      <a (click)="close()" class="btn btn-white btn-shadow mr-4">CANCELAR</a>
      <button type="submit" name="saveButton" class="btn btn-success btn-shadow min-100">SALVAR</button>
    </div>
  </div>
</form>
