nav {
  height: 62px;
  z-index: 10;
  padding: 0 12px;

  .navbar {
    display: flex;
    align-items: center;
    gap: 24px;

    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        color: white;

        i {
          margin-right: 6px;
        }

        span {
          white-space: nowrap;
        }
      }
    }
  }

  .nav-link {
    color: white;
    display: flex;
    align-items: center;

    i {
      margin-right: 6px;
    }
  }

  .text-large {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 4px;
  }

  img {
    height: 32px;
  }
}

.holder-navs {
  gap: 25px;
}
